@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* variables */
:root {
  --primary: #aa0601;
  --secondary: #650300;
  --bg-light: #fbf2f2;
  --bg-dark: #aa0601;
}

/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: solid 1px; */
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.5s;
}

a:hover:not(.logo) {
  opacity: 0.7;
}

/* layout */
.header {
  padding: 16px 0;
  width: 100%;
}

.header .logo {
  position: relative;
  width: 80px;
  height: 48px;
  text-indent: 101%;
  overflow: hidden;
  background: url("./img/logo-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header .logo a {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-wrap {
  justify-content: space-between;
  align-items: center;
}

.header .nav {
  font-size: 20px;
}

.header .nav-item a {
  padding: 8px 32px;
}

@media (max-width: 767px) {
  .header {
    padding: 0;
  }

  .header .logo {
    margin: 16px;
  }

  .header-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .header .nav {
    flex-wrap: wrap;
    width: 100%;
  }

  .header .nav-item {
    width: 50%;
    padding: 0;
    text-align: center;
  }

  .header .nav-item a {
    padding: 12px 0;
    width: 100%;
    border: 1px solid white;
  }
}

.footer {
  padding: 48px 0 32px 0;
}

.footer-header {
  border-bottom: 1px solid #fff;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.footer .nav {
  margin-bottom: 26px;
}

.footer .nav-item a {
  padding: 12px 32px;
}

.footer .contact-list {
  font-size: 36px;
  font-family: "Noto Sans TC", sans-serif;
}

.footer .contact-list .material-symbols-outlined {
  font-size: 48px;
  vertical-align: middle;
  margin-right: 20px;
}

/* 除了最後一個 <li> 之外,其他項目下方都加 8px 的間距 */
.footer .contact-list li:not(:last-child) {
  margin-bottom: 8px;
}

.footer .social-list img {
  width: 48px;
}

.footer .social-list a {
  padding: 0 16px;
}

.footer .copyright {
  justify-content: space-between;
}

.footer .copyright-text {
  margin-bottom: 4px;
}

.footer .privacy-list a {
  padding: 0 24px;
}

@media (max-width: 992px) {
  .footer .social-list img {
    width: 40px;
  }

  .footer .nav-item a {
    padding: 12px 24px;
  }

  .footer .social-list a {
    padding: 0 8px;
  }
}

@media (max-width: 576px) {
  .footer .nav {
    display: none;
  }

  .footer .contact-list {
    font-size: 16px;
  }

  .footer .social-list img {
    width: 24px;
  }

  .footer .contact-list .material-symbols-outlined {
    font-size: 24px;
    margin-right: 8px;
  }

  .footer .copyright {
    flex-direction: column;
  }

  .footer .privacy-list a {
    flex-direction: column;
  }

  .footer .privacy-list a {
    padding: 4px 0;
  }
}

/* pages */
.banner {
  color: var(--secondary);
  background-image: url("./img/home-header.png");
  background-size: cover;
  height: calc(100vh - 80px);
  /* height: 787px; */
}

.banner-wrap {
  height: 100%;
}

.banner-title {
  font-size: 64px;
  font-weight: 700;
}

.banner-subtitle {
  font-size: 36px;
}

.banner-btn {
  background: var(--primary);
  padding: 6px 12px;
  color: #fff;
  font-size: 20px;
}

@media (max-width: 992px) {
  .banner {
    background-image: url("./img/home-header-sm.png");
  }
}

@media (max-width: 767px) {
  .banner-title {
    font-size: 24px;
  }

  .banner-subtitle {
    font-size: 16px;
  }
}

/* utilities */
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.container-sm-full {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

@media (max-width: 767px) {
  .container-sm-full {
    padding: 0;
  }
}

.container-md-fluid {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.bg-dark {
  background-color: var(--bg-dark);
}

.bg-light {
  background-color: var(--bg-light);
}

.text-white {
  color: #fff;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}
